**Import Libs**

In [5]:
#Import libraries
import tensorflow as tf
import pandas as pd

**Creating DataFrames**

In [6]:
goodreads_train = pd.read_csv("../../../kaggle/input/goodreads_train.csv")
goodreads_test = pd.read_csv("../../../kaggle/input/goodreads_test.csv")

In [7]:
goodreads_train.sample(5)

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
446533,514f5e2e6c18219483d89d71a9745c97,11861815,d91b8d8178dbe6e7e98326c4f0a4d5f3,4,"** spoiler alert ** \n Being a woman, whose br...",Wed May 21 00:04:17 -0700 2014,Fri Oct 07 14:32:38 -0700 2016,Mon Jun 02 00:00:00 -0700 2014,Wed May 21 00:00:00 -0700 2014,0,0
310874,d9cfab35a87e32084b1817dfb0e98748,4136,5968f119b25a5559403ac3d81ff444a7,2,This was just not for me. I've read Sedaris' o...,Mon Dec 31 13:21:15 -0800 2012,Mon Dec 31 20:13:07 -0800 2012,Mon Dec 31 20:11:13 -0800 2012,Mon Dec 31 00:00:00 -0800 2012,0,0
188739,09a81ba8eb89a4e86330005a02abb447,29415084,5e84e329717a19c42285a78b83e94a2a,4,I loved this even though it took me forever to...,Mon Apr 17 14:40:22 -0700 2017,Sun May 07 09:03:32 -0700 2017,Mon May 01 06:41:24 -0700 2017,Mon Apr 17 00:00:00 -0700 2017,3,0
241839,8913e53623e2e49eb987f48875b1d67c,59810,66e0d774f124080eae0a435019dc3f22,4,"I don't believe in ""guilty pleasure"" reading b...",Tue Nov 04 14:18:49 -0800 2008,Tue Nov 29 03:02:46 -0800 2011,NaN,NaN,0,0
61978,3a6b05f4e9049a575848f1897ab780fc,25573701,516d7073bb74b1e59e4507f8159ad12f,4,I'm pretty sure I teared up a little bit readi...,Sun Feb 14 21:02:49 -0800 2016,Tue Mar 01 21:01:56 -0800 2016,Thu Feb 18 00:00:00 -0800 2016,NaN,0,0

In [8]:
goodreads_test.sample(5)

,user_id,book_id,review_id,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
8809,5aeeed395f785e774a34c86f05dfbd19,15813668,d2c8970a9fda8ce7eedba8f53fd7d2ea,OMG! Guys! I need more now. Right now. Not a y...,Thu Jul 18 02:49:38 -0700 2013,Thu Jul 18 02:50:48 -0700 2013,Thu Jul 18 02:50:48 -0700 2013,NaN,1,0
381881,74b5726a925f88114b3edd8d2a4931f0,7747374,19324c577161b499a3e0de2dd0c9c3a6,I love it. I swear its the first book that had...,Mon Mar 19 21:59:38 -0700 2012,Sat Sep 07 23:21:14 -0700 2013,Sun Apr 15 00:00:00 -0700 2012,Mon Apr 09 00:00:00 -0700 2012,0,0
318755,ba27989b4bbf70d52ba5e3625472e37d,26228034,bc91ab90a35ead62fea7c40327d9a2be,"Originally posted here. \n Unfortunately, the ...",Mon Jul 10 06:34:26 -0700 2017,Mon Aug 14 04:14:52 -0700 2017,Thu Aug 10 00:00:00 -0700 2017,Thu Aug 03 00:00:00 -0700 2017,3,0
119381,1756eaecebd7f9afe594b826d8432f7d,20652088,b262f9314f2ca9a41215eff2c3496262,DNF at 30%. I won't rate this because it isn't...,Tue Feb 17 08:34:40 -0800 2015,Wed Feb 03 12:54:39 -0800 2016,NaN,Sun Aug 09 00:00:00 -0700 2015,0,0
375322,1c659d3b561ca0e48505b89a61b6b06d,25893709,785c38a18a2a28efa98d99aa555c298f,This was difficult for me to rate. Parts of th...,Mon Jun 06 07:00:50 -0700 2016,Mon Jun 06 09:58:48 -0700 2016,Mon Jun 06 09:58:48 -0700 2016,Mon Jun 06 00:00:00 -0700 2016,0,0

**Cleaning Data**

In [65]:
train_df = goodreads_train.drop(columns=['user_id', 'book_id' ,'date_added', 'date_updated', 'read_at', 'started_at'], axis=0)
train_df.head()

,review_id,rating,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,3,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,0,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,4,"I really enjoyed this book, and there is a lot...",9,1

In [66]:
train_df.dtypes

review_id      object
rating          int64
review_text    object
n_votes         int64
n_comments      int64
dtype: object

In [69]:
y_train = train_df['rating']
x_train = train_df.drop('rating', axis=1)

In [70]:
x_train.head()

,review_id,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,"I really enjoyed this book, and there is a lot...",9,1

In [71]:
y_train.head()

0    5
1    3
2    3
3    0
4    4
Name: rating, dtype: int64

In [73]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [74]:
x_train['review_id'] = le.fit_transform(x_train['review_id'])

In [75]:
x_train.head()

,review_id,review_text,n_votes,n_comments
0,786842,This is a special book. It started slow for ab...,28,1
1,583423,Recommended by Don Katz. Avail for free in Dec...,1,0
2,165147,"A fun, fast paced science fiction thriller. I ...",22,0
3,727692,Recommended reading to understand what is goin...,5,1
4,179941,"I really enjoyed this book, and there is a lot...",9,1

**NLP**

In [78]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import random

In [79]:
tokenizer = Tokenizer(num_words=10000, oov_token='<UNK>')

tokenizer.fit_on_texts(x_train['review_text'])

In [80]:
print(len(tokenizer.word_index))

356490

In [81]:
def get_sequences(tokenizer, review):
    sequences = tokenizer.texts_to_sequences(review)
    padded_sequences = pad_sequences(sequences, truncating='post', maxlen=1500, padding='post')
    return padded_sequences

In [82]:
x_train['review_text'] = get_sequences(tokenizer, x_train['review_text'])
x_train['review_text'][0]

13

MLP Training

In [15]:
def mlp(x_train: Any):
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(256, activation='sigmoid'),
        tf.keras.layers.Dense(128, activation='sigmoid'),
        tf.keras.layers.Dense(10, activation='sigmoid')
    ])

    model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                  optimizer='adam',
                  metrics=tf.metrics.BinaryAccuracy(threshold=0.0))

    history = model.fit(
        x_train,
        y_train,
        epochs=10,
        callbacks=[
            tf.keras.callbacks.TensorBoard(log_dir="tensorboard_logs/ML/MLP")
        ],
        batch_size=256
    )

NameError: name 'Any' is not defined

In [ ]:
mlp(x_train, y_train)

In [ ]:
% load_ext tensorboard

In [ ]:
% tensorboard --logdir tensorboard_logs / ML / MLP