**Import Libs**

In [170]:
import pandas as pd
import tensorflow as tf

**Creating DataFrames**

In [171]:
goodreads_train = pd.read_csv("../../../kaggle/input/goodreads_train.csv")
goodreads_test = pd.read_csv("../../../kaggle/input/goodreads_test.csv")

In [172]:
goodreads_train.sample(5)

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
595477,440e3efe142cd205fbcfa87449207ae1,20493997,b23245b5e7b6007db3e27d6849550ab7,2,"Actual rating: 2.5/5 Stars \n To be honest, I ...",Sun Jun 08 14:20:35 -0700 2014,Sun Jan 04 17:01:15 -0800 2015,Sun Nov 23 00:00:00 -0800 2014,Sun Nov 23 00:00:00 -0800 2014,0,0
669748,96552d118e02cd2d7c4c22c2b4ae1c62,24719666,2c7d8f9d7880c35981e88354b5205f45,0,Read this story for free on Wattpad here: \n h...,Tue Apr 21 11:23:46 -0700 2015,Tue Apr 21 11:24:46 -0700 2015,NaN,NaN,0,0
287946,3e4eb82e9eddfa819b48495e73064902,84979,f15822561a38eadd5a42cd81ba2ce111,5,One of the greatest chick-lit ever!,Tue Aug 06 03:02:02 -0700 2013,Mon Aug 26 01:30:18 -0700 2013,Mon Aug 26 01:30:18 -0700 2013,Tue Aug 06 00:00:00 -0700 2013,0,1
862456,e015e42c539e5bd2198ae4a575655904,23159927,577377f4232fde0fec4aed85e64504b1,5,([?]` . '[?])Oh my God Oh my God! Oh my God!!(...,Thu Sep 24 11:49:54 -0700 2015,Thu Sep 24 12:32:50 -0700 2015,Thu Sep 24 12:47:15 -0700 2015,NaN,2,0
509620,543dfc6ae30329049b4cc9be1e14e11e,28204534,403a1a2d2bb4d59c4cba202426b1baa7,4,My one regret is reading this when I didn't ha...,Tue Oct 10 09:20:50 -0700 2017,Sat Oct 21 22:42:26 -0700 2017,Sat Oct 21 00:00:00 -0700 2017,Sat Oct 21 00:00:00 -0700 2017,0,0

In [173]:
goodreads_test.sample(5)

,user_id,book_id,review_id,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
39572,8e8f4777c87a041801d5d44996c9085d,23848145,b4ca9f7b0acf42b2cdcef6c4e2f7df8a,I LOVED THIS BOOK!! So many went down and I ca...,Fri Apr 22 13:40:27 -0700 2016,Thu Apr 13 03:23:37 -0700 2017,Sat Jan 21 00:00:00 -0800 2017,Fri Jan 20 00:00:00 -0800 2017,1,0
346195,c094c50f8adce01b34768a421d775193,20575425,276bc9457b3df636e6760f36244b66aa,"Wow, this was a great book! I'm so glad I foun...",Fri Feb 10 06:52:33 -0800 2017,Tue Mar 21 12:23:33 -0700 2017,Tue Mar 21 12:23:33 -0700 2017,Mon Mar 13 05:54:22 -0700 2017,0,0
453425,6be0a20adc4040e2ca3b17c33db48ae6,7093952,554a56d9c1f0fc6648bb4b9aef55760d,"as i previously mentioned, i think Tana French...",Tue Apr 23 09:59:32 -0700 2013,Sun May 05 09:04:28 -0700 2013,Sun Apr 28 00:00:00 -0700 2013,Tue Apr 23 00:00:00 -0700 2013,0,0
351796,038588a5efeb3c60987244e7c431e9c7,41865,ec23464880a8a5d651940cc335fc3a0d,"After reading the first book in the series, I'...",Thu Mar 01 14:53:02 -0800 2012,Tue Dec 18 08:52:30 -0800 2012,Fri Jan 01 00:00:00 -0800 2010,Fri Jan 01 00:00:00 -0800 2010,0,0
59956,883e2e0ae9de4c2c46c0fb09d6025fdf,10993282,494143bae0174e8bdcb5af3673419ba4,** spoiler alert ** \n I have been dying for t...,Sat Jun 11 19:56:21 -0700 2011,Tue Apr 03 14:21:35 -0700 2012,Tue Apr 03 14:21:35 -0700 2012,Thu Mar 29 00:00:00 -0700 2012,0,0

**Cleaning Data**

In [174]:
train_df = goodreads_train.drop(columns=['user_id', 'book_id', 'date_added', 'date_updated', 'read_at', 'started_at'],
                                axis=0)
train_df.head()

,review_id,rating,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,3,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,0,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,4,"I really enjoyed this book, and there is a lot...",9,1

In [175]:
train_df.dtypes

review_id      object
rating          int64
review_text    object
n_votes         int64
n_comments      int64
dtype: object

In [176]:
y_train = train_df['rating']
x_train = train_df.drop('rating', axis=1)

In [177]:
x_train.head()

,review_id,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,"I really enjoyed this book, and there is a lot...",9,1

In [178]:
y_train.head()

0    5
1    3
2    3
3    0
4    4
Name: rating, dtype: int64

In [179]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [180]:
x_train['review_id'] = le.fit_transform(x_train['review_id'])

In [181]:
x_train.head()

,review_id,review_text,n_votes,n_comments
0,786842,This is a special book. It started slow for ab...,28,1
1,583423,Recommended by Don Katz. Avail for free in Dec...,1,0
2,165147,"A fun, fast paced science fiction thriller. I ...",22,0
3,727692,Recommended reading to understand what is goin...,5,1
4,179941,"I really enjoyed this book, and there is a lot...",9,1

**NLP**

In [182]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [183]:
tokenizer = Tokenizer(num_words=10000, oov_token='<UNK>')

tokenizer.fit_on_texts(x_train['review_text'])

In [184]:
print(len(tokenizer.word_index))

356490

In [185]:
def get_sequences(tokenizer, review):
    sequences = tokenizer.texts_to_sequences(review)
    padded_sequences = pad_sequences(sequences, truncating='post', maxlen=1500, padding='post')
    return padded_sequences

In [186]:
x_train['review_text'] = get_sequences(tokenizer, x_train['review_text'])
x_train['review_text'][0]

13

**MLP Training**

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='sigmoid'),
    tf.keras.layers.Dense(64, activation='sigmoid'),
    tf.keras.layers.Dense(1)
])

model.compile(loss='mean_absolute_error',
              optimizer='adam',
              metrics=['accuracy'])

model.fit(
    x_train['review_text'],
    y_train,
    epochs=10,
    callbacks=[
        tf.keras.callbacks.TensorBoard(log_dir='../../../tensorboard_logs/ML/MLP')
    ]
)

# score = ...

Epoch 1/10
28125/28125 [==============================] - 515s 18ms/step - loss: 0.9039 - accuracy: 0.0319
Epoch 2/10
19953/28125 [====================>.........] - ETA: 3:21 - loss: 0.9010 - accuracy: 0.0318

In [195]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [196]:
%tensorboard --logdir ../../../tensorboard_logs/ML/MLP

Launching TensorBoard...