**Import Libs**

In [29]:
#Import libraries
import tensorflow as tf
import pandas as pd

**Creating DataFrames**

In [30]:
goodreads_train = pd.read_csv("../../../kaggle/input/goodreads_train.csv")
goodreads_test = pd.read_csv("../../../kaggle/input/goodreads_test.csv")

In [31]:
goodreads_train.sample(5)

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
656218,d108571e77aa604ba35091445bd0ca87,6871616,fbd7918db230d8c6c3cdfad3190355a6,2,It was okay for what it's supposed to be - jus...,Sat May 26 05:53:05 -0700 2012,Wed Jun 27 19:32:49 -0700 2012,Fri Jun 22 00:00:00 -0700 2012,Thu Jun 21 00:00:00 -0700 2012,6,21
369391,0c0e920301135fd335774ddc77a94105,22914373,a131445cb82f3a22a7679c95fad8bd77,3,Midnights by Rainbow Rowell - 4.5 stars \n Lik...,Wed Jun 04 04:04:48 -0700 2014,Sun Feb 12 17:16:16 -0800 2017,Wed Dec 24 00:00:00 -0800 2014,Sat Dec 13 00:00:00 -0800 2014,22,4
265144,6079cf8b963518fdf7539a289e72e5b6,6715235,ad80680780a8a200322246b0075e8cd9,4,I love stories set in Victorian London and thi...,Sun Sep 25 12:05:27 -0700 2011,Tue Oct 25 18:34:14 -0700 2011,Tue Oct 18 00:00:00 -0700 2011,NaN,0,0
562855,85545f10990121d567843376a190647d,15801353,604242dfb1da2927669b3d707c00bfce,5,This review can also be found on my blog schak...,Thu Jan 15 03:19:55 -0800 2015,Fri Mar 17 02:10:12 -0700 2017,Fri Jan 16 00:00:00 -0800 2015,Thu Jan 15 00:00:00 -0800 2015,0,0
663929,2bb93dbd4c5ac4eed74be1177ea6de67,18373,373a8b6792dd6bc5d60b6064efa3ad5d,4,The premise of the novel was what drew me in a...,Thu Mar 02 17:46:38 -0800 2017,Mon Sep 11 05:29:21 -0700 2017,Mon Sep 11 05:53:09 -0700 2017,Thu Sep 07 17:33:11 -0700 2017,2,0

In [32]:
goodreads_test.sample(5)

,user_id,book_id,review_id,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
88104,c805cb21c23d78cfb118c98734d1eb85,12287209,dff946091e0807dfb30b56d9326bbb4b,"Very, very cool concept. \n Not really-but-kin...",Thu May 24 15:13:19 -0700 2012,Thu May 24 15:14:38 -0700 2012,Thu May 24 15:14:38 -0700 2012,NaN,1,0
125018,2bad38f1598af95cb87ea6e518c27b3d,25074849,2903db91605269af7bc340bcf5c5dd54,I absolutely loved how unapologetic and in-you...,Mon May 11 13:24:01 -0700 2015,Mon Oct 17 17:41:03 -0700 2016,Tue Feb 16 00:00:00 -0800 2016,NaN,5,0
387821,c78a9fbd8ca324ae8cffa630f48a0c6c,13047090,9dcec3f29dea738c25dc3159faaf66b7,I couldn't get into this. The first one was al...,Sat Feb 25 22:18:01 -0800 2017,Mon Feb 27 23:03:50 -0800 2017,Mon Feb 27 00:00:00 -0800 2017,Sat Feb 25 00:00:00 -0800 2017,0,0
428577,6c5752c51fce7dcff3ddba0c71e4a0ea,5907,16b1f5098d701c8cb904d9ad5c15095c,Mediocre. Spoilers below! \n Bilbo and friends...,Sun Dec 29 02:52:43 -0800 2013,Sun Mar 02 04:42:54 -0800 2014,Sun Mar 02 04:42:54 -0800 2014,Wed Feb 05 00:00:00 -0800 2014,0,0
297988,0c7429f150417a1af3c7045fc89a3f4e,16002136,8ac2fdc9a71f71551d506d6d8d04d43f,"ohmygosh, Clint, I love you and your dogs. \n ...",Tue Dec 03 18:51:35 -0800 2013,Wed Sep 06 12:49:07 -0700 2017,Thu Jul 02 06:24:17 -0700 2015,Wed Jul 01 00:00:00 -0700 2015,1,0

**Cleaning Data**

In [33]:
train_ds = goodreads_train.drop(columns=['user_id', 'book_id' ,'date_added', 'date_updated', 'read_at', 'started_at'], axis=0)
train_ds.head()

,review_id,rating,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,3,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,0,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,4,"I really enjoyed this book, and there is a lot...",9,1

In [34]:
x = train_ds.drop('rating', axis=1)
y = train_ds['rating']

In [35]:
x.head()

,review_id,review_text,n_votes,n_comments
0,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,28,1
1,a5d2c3628987712d0e05c4f90798eb67,Recommended by Don Katz. Avail for free in Dec...,1,0
2,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",22,0
3,ced5675e55cd9d38a524743f5c40996e,Recommended reading to understand what is goin...,5,1
4,332732725863131279a8e345b63ac33e,"I really enjoyed this book, and there is a lot...",9,1

In [36]:
y.head()

0    5
1    3
2    3
3    0
4    4
Name: rating, dtype: int64

**NLP**

In [44]:
target_scaler = MinMaxScaler()

In [45]:
layer(x)

ValueError: Exception encountered when calling layer "category_encoding_2" "                 f"(type CategoryEncoding).

Failed to convert a NumPy array to a Tensor (Unsupported object type int).

Call arguments received by layer "category_encoding_2" "                 f"(type CategoryEncoding):
  • inputs=                               review_id  \
0       dfdbb7b0eb5a7e4c26d59a937e2e5feb
1       a5d2c3628987712d0e05c4f90798eb67
2       2ede853b14dc4583f96cf5d120af636f
3       ced5675e55cd9d38a524743f5c40996e
4       332732725863131279a8e345b63ac33e
...                                  ...
899995  7c34c15ad8cb28a4afca32946e2016ea
899996  e979c735276431915d089cfaf446d64f
899997  feb9fe6439f9fbba8a1cce36020ad977
899998  741e29369f70531bfffbd02add86f228
899999  d55f3a967230940e75a314700caec9a5

                                              review_text  n_votes  n_comments
0       This is a special book. It started slow for ab...       28           1
1       Recommended by Don Katz. Avail for free in Dec...        1           0
2       A fun, fast paced science fiction thriller. I ...       22           0
3       Recommended reading to understand what is goin...        5           1
4       I really enjoyed this book, and there is a lot...        9           1
...                                                   ...      ...         ...
899995  3.5 stars. \n Jenna is a popular YA author and...        0           0
899996  This was a quick read for me. I have read a lo...        1           1
899997  ** spoiler alert ** \n 3.5 stars. \n This book...        1           0
899998  ** spoiler alert ** \n Another fun read from M...        0           0
899999  ** spoiler alert ** \n 3.5 stars \n I liked it...        0           0

[900000 rows x 4 columns]
  • count_weights=None

MLP Training

In [ ]:
def mlp(x_train: Any):
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(256, activation='sigmoid'),
        tf.keras.layers.Dense(128, activation='sigmoid'),
        tf.keras.layers.Dense(10, activation='sigmoid')
    ])

    model.compile(loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                  optimizer='adam',
                  metrics=tf.metrics.BinaryAccuracy(threshold=0.0))

    history = model.fit(
        x_train,
        y_train,
        epochs=10,
        callbacks=[
            tf.keras.callbacks.TensorBoard(log_dir="tensorboard_logs/ML/MLP")
        ],
        batch_size=256
    )

In [ ]:
mlp(x_train, y_train)

In [ ]:
% load_ext tensorboard

In [ ]:
% tensorboard --logdir tensorboard_logs / ML / MLP